<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="settingCtrl" data-ng-if="is_main_user == 1 || gsetting_permission_dis_permission.main_menu_id =='4'">
    <!-- main -->
    <div class="col">


        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">General Setting</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md ng-scope">

            <div class="panel panel-default">


                <div class="panel-body">
                    <form class="form-horizontal ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled ng-dirty ng-valid-parse"
                          name="adminform" novalidate>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{admin.fname}}</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="vFirstName" data-ng-model="vFirstName"
                                   placeholder="{{admin.efname}}" required>
                            <!--  <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                                                      <span style="color: #cc4e4e;"
                                                            data-ng-show="adminform.vFirstName.$error.required">eroor</span>-->

                            <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                         <span class="text-danger" data-ng-show="adminform.vFirstName.$error.required">{{admin.fnamerequired}}</span>

                            </span>
                        </div>
                    </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{admin.fname}}</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="vFirstName" data-ng-model="vFirstName"
                                       placeholder="{{admin.efname}}" required>
                                <!--  <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                                                          <span style="color: #cc4e4e;"
                                                                data-ng-show="adminform.vFirstName.$error.required">eroor</span>-->

                                <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                         <span class="text-danger" data-ng-show="adminform.vFirstName.$error.required">{{admin.fnamerequired}}</span>

                            </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{admin.fname}}</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="vFirstName" data-ng-model="vFirstName"
                                       placeholder="{{admin.efname}}" required>
                                <!--  <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                                                          <span style="color: #cc4e4e;"
                                                                data-ng-show="adminform.vFirstName.$error.required">eroor</span>-->

                                <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                         <span class="text-danger" data-ng-show="adminform.vFirstName.$error.required">{{admin.fnamerequired}}</span>

                            </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{admin.fname}}</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="vFirstName" data-ng-model="vFirstName"
                                       placeholder="{{admin.efname}}" required>
                                <!--  <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                                                          <span style="color: #cc4e4e;"
                                                                data-ng-show="adminform.vFirstName.$error.required">eroor</span>-->

                                <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                         <span class="text-danger" data-ng-show="adminform.vFirstName.$error.required">{{admin.fnamerequired}}</span>

                            </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{admin.fname}}</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="vFirstName" data-ng-model="vFirstName"
                                       placeholder="{{admin.efname}}" required>
                                <!--  <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                                                          <span style="color: #cc4e4e;"
                                                                data-ng-show="adminform.vFirstName.$error.required">eroor</span>-->

                                <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                         <span class="text-danger" data-ng-show="adminform.vFirstName.$error.required">{{admin.fnamerequired}}</span>

                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{admin.fname}}</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="vFirstName" data-ng-model="vFirstName"
                                       placeholder="{{admin.efname}}" required>
                                <!--  <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                                                          <span style="color: #cc4e4e;"
                                                                data-ng-show="adminform.vFirstName.$error.required">eroor</span>-->

                                <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                         <span class="text-danger" data-ng-show="adminform.vFirstName.$error.required">{{admin.fnamerequired}}</span>

                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{admin.fname}}</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="vFirstName" data-ng-model="vFirstName"
                                       placeholder="{{admin.efname}}" required>
                                <!--  <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                                                          <span style="color: #cc4e4e;"
                                                                data-ng-show="adminform.vFirstName.$error.required">eroor</span>-->

                                <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                         <span class="text-danger" data-ng-show="adminform.vFirstName.$error.required">{{admin.fnamerequired}}</span>

                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{admin.fname}}</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="vFirstName" data-ng-model="vFirstName"
                                       placeholder="{{admin.efname}}" required>
                                <!--  <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                                                          <span style="color: #cc4e4e;"
                                                                data-ng-show="adminform.vFirstName.$error.required">eroor</span>-->

                                <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                         <span class="text-danger" data-ng-show="adminform.vFirstName.$error.required">{{admin.fnamerequired}}</span>

                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{admin.fname}}</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="vFirstName" data-ng-model="vFirstName"
                                       placeholder="{{admin.efname}}" required>
                                <!--  <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                                                          <span style="color: #cc4e4e;"
                                                                data-ng-show="adminform.vFirstName.$error.required">eroor</span>-->

                                <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                         <span class="text-danger" data-ng-show="adminform.vFirstName.$error.required">{{admin.fnamerequired}}</span>

                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{admin.fname}}</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="vFirstName" data-ng-model="vFirstName"
                                       placeholder="{{admin.efname}}" required>
                                <!--  <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                                                          <span style="color: #cc4e4e;"
                                                                data-ng-show="adminform.vFirstName.$error.required">eroor</span>-->

                                <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                         <span class="text-danger" data-ng-show="adminform.vFirstName.$error.required">{{admin.fnamerequired}}</span>

                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{admin.fname}}</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="vFirstName" data-ng-model="vFirstName"
                                       placeholder="{{admin.efname}}" required>
                                <!--  <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                                                          <span style="color: #cc4e4e;"
                                                                data-ng-show="adminform.vFirstName.$error.required">eroor</span>-->

                                <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                         <span class="text-danger" data-ng-show="adminform.vFirstName.$error.required">{{admin.fnamerequired}}</span>

                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{admin.fname}}</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="vFirstName" data-ng-model="vFirstName"
                                       placeholder="{{admin.efname}}" required>
                                <!--  <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                                                          <span style="color: #cc4e4e;"
                                                                data-ng-show="adminform.vFirstName.$error.required">eroor</span>-->

                                <span data-ng-show="submitted && adminform.vFirstName.$invalid">
                         <span class="text-danger" data-ng-show="adminform.vFirstName.$error.required">{{admin.fnamerequired}}</span>

                            </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-2">
                                <button type="submit" class="btn btn-sm btn-info"
                                        ng-click="add_admin_form(adminform.$valid)">{{general.btnsave}}
                                </button>

                                <button type="submit" class="btn btn-sm btn-danger"
                                        data-ng-show="vRolName == 'superadmin'" ui-sref="app.admin">
                                    {{general.btncancel}}
                                </button>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
