<div class="container w-xl w-auto-xs" ng-controller="resetpasswordCtrl">
    <a href class="navbar-brand block m-t"> </a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Reset Password</strong>
        </div>

        <form name="resetform"   class="form-validation" novalidate>
            <div class="text-danger wrapper text-center" ng-show="authError">

                <p ng-show="authError!= ''" class="help-block"  style="color:#ffffff;background:#a94442;
border: 1px outset #f16702;
padding:0.28em; width:auto;border-radius:10px;">{{authError}}</p>
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="password" placeholder="New Password" id="password" ng-model="password" class="form-control no-border" ng-minlength="8" ng-pattern="/^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).*$/"  required>

                          <span data-ng-show="submitted && resetform.password.$invalid">
                         <span class="text-danger" data-ng-show="resetform.password.$error.required">required</span>
                         <span class="text-danger" data-ng-show="resetform.password.$error.pattern">Password Should be Minimum length 8 , Upper & lower case , Special Char Alphanumeric and at least 1 Digit.</span>
                          </span>
                    <p ng-show="resetform.password.$invalid && !resetform.password.$error.required" class="help-block" style="color:#ffffff;background:#a94442;
border: 1px outset #f16702;
padding:0.28em; width:auto;border-radius:10px;">Password is required.</p>
      <!--               <span data-ng-show="submitted && resetform.password.$invalid">
                         <span class="text-danger" data-ng-show="resetform.password.$error.pattern">Password Should be Minimum length 8 , Upper & lower case , Special Char Alphanumeric and at least 1 Digit.</span>

</span>-->


                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Confirm New Password" id="confirmpassword" ng-model="confirmpassword" class="form-control no-border" required>
                     </div>

               <span  ng-show="(!resetform.confirmpassword.$error.required && password!=confirmpassword)" class="text-danger">{{admin.passmatch}}</span>

            </div>
            <button type="submit"  class="btn btn-lg btn-primary btn-block"  ng-click="resetpass_form(resetform.$valid)" ng-disabled='reset_form.$invalid || vPassword!=vConfirmPassword'>Submit</button>

        </form>

    </div>


</div>




