<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <div class="master_dashbaord">
        <div class="row">
            <!--BEGIN VIDEO CONTENT -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="portlet light shadow" style="min-height: 320px;">
                    <div class="portlet-title"><!-- {{ lang_trans.master_dashboard.start_here }} -->
                        <div class="caption"><span class="caption-subject">Demo Video</span></div>
                    </div>
                    <div class="portlet-body veazy_form" data-ng-click="viewVideo()" ng-if="is_plan_exists">
                        <img class="img-responsive veazy_video" width="100%" src="assets/global/img/video_th.png" style="border-radius: 10px!important;">
                    </div>
                    <div class="portlet-body veazy_form" ng-if="!is_plan_exists">
                        <img class="img-responsive veazy_video" width="100%" src="assets/global/img/how-to.png" style="border-radius: 10px!important;">
                    </div>
                </div>
            </div>
            <!--END VIDEO CONTENT -->

            <!--BEGIN RECENT PRODUCT -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center rcnt_app_head"><h3>{{ lang_trans.master_dashboard.recent_applications }}</h3></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-repeat="product in products">
                    	
                        <div class="portlet light shadow" style="height: 96%;">
                            <div class="portlet-title">
                                <div class="caption" style="width: 100%;" ng-if="is_plan_exists">
                                    <span class="caption-subject nunito">{{product.vUserProductTitle}}</span>
                                    <span style="cursor:pointer" class="icon-note pull-right" data-ng-click="updateInfo(product.iPkUserProductId)"></span>
                                </div>
                                <div class="caption" style="width: 100%;opacity: 0.5" ng-if="!is_plan_exists">
                                    <span class="caption-subject nunito">{{product.vUserProductTitle}}</span>
                                    <span style="cursor:pointer" class="icon-note pull-right" data-ng-click="noplan()"></span>
                                </div>
                            </div>
                            <div class="portlet-body recent_app_body">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-5 visa_user_img" ng-if="is_plan_exists">
                                        <label data-ng-click="getTheFiles(product.pid)" for="porduct_img" class="prod_img"><i class="icon-note"></i></label>
                                        <input type="file" name="profile_picture" id="porduct_img" onchange="angular.element(this).scope().uploadFile(this.files)">
                                        <img src="{{product.vUserProductImage | replaceA }}" alt="" class="img-responsive">
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-5 visa_user_img" ng-if="!is_plan_exists">
                                        <label data-ng-click="noplan()" for="porduct_img" class="prod_img"><i class="icon-note" style="opacity: 0.5"></i></label>
                                        
                                        <img src="{{product.vUserProductImage | replaceA }}" alt="" class="img-responsive">
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-7">
                                        <p class="border border-element border-grey-steel text-light shadow-light app_status">{{lang_trans.master_dashboard.status }}
                                            <span class="bold cus_m_orange text-light app_status" ng-if="product.vLodgmentStatus == 'Submitted'">{{product.vLodgmentStatus}}</span>
                                            <span class="bold cus_m_blue text-light app_status" ng-if="product.vLodgmentStatus == 'Preparing'">{{product.vLodgmentStatus}}</span>
                                            <span class="bold color_theme text-light app_status" ng-if="product.vLodgmentStatus == 'Request Pending'">{{product.vLodgmentStatus}}</span>
                                            <span class="bold font-green-crusta text-light app_status" ng-if="product.vLodgmentStatus == 'Approved'">{{product.vLodgmentStatus}}</span>
                                            <span class="bold font-red-thunderbird text-light app_status" ng-if="product.vLodgmentStatus == 'Refused'">{{product.vLodgmentStatus}}</span>
                                            <!-- <span data-ng-if="product.eUserProductStatus == 'inactive'"  class="bold font-red text-light border app_status">{{product.eUserProStatus}}</span> -->
                                        </p>
                                        <div class=" border veazy_progress border-grey-steel shadow-light">
                                            <p class="progress_bar_text text-light">{{lang_trans.master_dashboard.progress }}<span class="pull-right text-light">{{product.keyProgress}}%</span></p>
                                            <div class="progress veazy_progress_bar">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{product.keyProgress}}%">
                                                    <span class="sr-only text-light"> {{product.keyProgress}}% Complete </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="min-width: 300px;" ng-if="product.is_date_max && !is_plan_exists">
                                    <p style="margin-top: 20px;" class="border border-element border-grey-steel text-light shadow-light"><i class="icon-calendar bold font-purple"></i>&nbsp;<b>Deadline Date:&nbsp;<span ng-bind-html="product.duedate"></span></b> </p>
                                </div> 
                                <div style="min-width: 300px;" ng-if="product.is_date_max && is_plan_exists" ng-disabled="is_plan_exists">
                                    <p style="margin-top: 20px;" class="border border-element border-grey-steel text-light shadow-light" data-ng-click="assignDueDate(product.pid,product.dtDeadLineDate)"><i class="icon-calendar bold font-purple"></i>&nbsp;<b>Deadline Date:&nbsp;<span ng-bind-html="product.duedate"></span></b> </p>

                                </div> 
                                <div style="min-width: 300px;" ng-if="!product.is_date_max && is_plan_exists" ng-disabled="is_plan_exists">
                                    <p style="margin-top: 20px;" class="border border-element border-grey-steel text-light shadow-light" data-ng-click="assignDueDate(product.pid,product.dtDeadLineDate)"><i class="icon-calendar bold font-purple"></i>&nbsp;<b>Deadline Date:&nbsp;<span ng-bind-html="product.duedate" style="color: #e7505a;"></span></b> </p>

                                </div>                               
                                <div ng-if="is_plan_exists"><a data-ui-sref="product_app.home({vpid:product.iPkUserProductId})"  class="btn btn-block btn-lg card_btn_lg bg-purple-theme font-white btn-shadow bold">
                                    <i class="fa fa-share-square-o" ng-disabled="is_plan_exists" aria-hidden="true"></i>&nbsp; {{lang_trans.master_dashboard.open }}
                                </a></div>
                                <div ng-if="!is_plan_exists"><a href="#disable_application" class="btn btn-block btn-lg card_btn_lg bg-purple-theme font-white btn-shadow bold" style="opacity: 0.5" data-toggle="modal">
                                    <i class="fa fa-share-square-o"" aria-hidden="true"></i>&nbsp;  {{lang_trans.master_dashboard.open }}
                                </a></div>
                                <div ng-if="is_plan_exists">
                                    <a data-ng-if="product.linked_product == '' && total_products > 1" data-ng-click="link(product.pid)" class="btn btn-block btn-lg bold card_btn_lg btn bg-grey-gallery bg-font-grey-gallery btn-shadow">
                                        <i class="fa fa-link"></i>&nbsp; {{lang_trans.master_dashboard.link }}
                                    </a>
                                </div>
                                <div ng-if="!is_plan_exists">
                                    <a href="#disable_application" data-ng-if="product.linked_product == '' && total_products > 1" class="btn btn-block btn-lg bold card_btn_lg btn bg-grey-gallery bg-font-grey-gallery btn-shadow" style="opacity: 0.5" data-toggle="modal">
                                        <i class="fa fa-link"></i>&nbsp; {{lang_trans.master_dashboard.link }}
                                    </a>
                                </div>
                                <div ng-if="is_plan_exists">
                                    <a data-ng-if="product.linked_product != '' && total_products > 1" data-ng-click="unlink(product.linked_product)" class="btn btn-block btn-lg card_btn_lg btn font-grey-gallery btn-shadow bold" style="d">
                                        <i class="fa fa-unlink"></i>&nbsp; {{lang_trans.master_dashboard.unlink }}
                                    </a> 
                                </div>
                                <div ng-if="!is_plan_exists">
                                    <a href="#disable_application" data-ng-if="product.linked_product != '' && total_products > 1" class="btn btn-block btn-lg card_btn_lg btn font-grey-gallery btn-shadow bold" style="opacity: 0.5" data-toggle="modal"">
                                        <i class="fa fa-unlink"></i>&nbsp; {{lang_trans.master_dashboard.unlink }}
                                    </a>
                                </div>
                                <div ng-if="is_plan_exists">
                                    <a href="#cancel_subscription" class="btn color_theme bold btn-block btn-lg card_btn_lg btn-shadow" data-ng-click="cancelSubscription(product.pid,product.vUserProductTitle)" data-toggle="modal">
                                        <i class="fa fa-times" aria-hidden="true"></i>&nbsp; {{lang_trans.master_dashboard.cancel }}
                                    </a>
                                </div>
                                <div ng-if="!is_plan_exists">
                                    <a href="#disable_application" class="btn color_theme bold btn-block btn-lg card_btn_lg btn-shadow" style="opacity: 0.5" data-toggle="modal">
                                        <i class="fa fa-times" aria-hidden="true"></i>&nbsp; {{lang_trans.master_dashboard.cancel }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <a data-ui-sref="app.myproducts" data-ng-if="total_products > 2" class="btn btn-md green-jungle btn-outline pull-right rec_app_vm bold">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; {{lang_trans.master_dashboard.view_more }}
                </a>
            </div>
            <!--END RECENT PRODUCT-->
        </div>
    </div>

    <!--START UPDATE PRODUCT INFORMATION POPUP -->
    <script type="text/ng-template" id="updateInfo.html">
        <div class="modal-content">
            <div class="modal-body">
                <form name="myForm">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input type="text" ng-maxlength="50" class="form-control input_theme input-lg"
                                   name="product_name" data-ng-model="paramprod.product_name"/>
                        </div>
                        <h5 ng-if="!myForm.product_name.$valid"><i style="color: red;">Allow only 50 Characters</i></h5>
                        <div class="col-lg-12">
                            <div text-angular ta-max-text="140" data-ng-model="paramprod.product_desc"
                                 name="product_desc" required class="btn-groups"></div>
                        </div>
                        <h5 ng-if="!myForm.product_desc.$valid"><i style="color: red">Allow only 140 Characters</i></h5>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button class="btn bg-purple-theme font-white bold"
                        data-ng-disabled="!paramprod.product_name || !paramprod.product_desc"
                        data-ng-click="saveProductInfo('info')">Save</button>
            </div>
        </div>
    </script>
    <!--END UPDATE PRODUCT INFORMATION POPUP -->

    <!--START LINK APPLICATION POPUP -->
    <script type="text/ng-template" id="linkproduct.html">
        <div class="modal-content">
            <div class="modal-header veazy_header ">
                <p class="text-light marketplace_desc bg-white">
                    <i class="fa fa-exclamation-circle color_theme bg-white"></i>
                    Linking applications allows you to quickly switch between each.
                </p>
                <i class="fa fa-times-circle pull-right fa-2x color_theme" style="cursor:pointer;" data-ng-click="close_link()"></i>
                <div class="row">
                    <h4 class="col-xs-12 text-center bold">Which Application would you link to link to?</h4>
                </div>
                <div class=" text-center">
                    <input type="text" class="form-control" name="product_filter" data-ng-model="product_filter" placeholder="Search">
                </div>
            </div>
            <div class="modal-body">
                <table class="table table-light table_product_list">
                    <tbody>
                        <tr data-ng-repeat="product in link_products |  filter:{ vUserProductTitle: product_filter }">
                            <td>
                                <img src="{{product.vUserProductImage | replaceA }}" style="border-radius: 5px !important;" height="50" width="50"> &nbsp; {{product.vUserProductTitle}}
                            </td>
                            <td class="text-right" data-ng-if="confirm_product_id == product.iPkUserProductId">
                                <a data-ng-click="confirm_link()" class="btn btn-md green-jungle btn-outline bold">Confirm</a>
                            </td>
                            <td class="text-right" data-ng-if="confirm_product_id != product.iPkUserProductId">
                                <a data-ng-click="link_product(product.iPkUserProductId)" class="btn btn-sm btn-shadow btn bg-grey-gallery bg-font-grey-gallery">
                                    <i class="fa fa-link"></i> &nbsp;Link
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <!--END LINK APPLICATION POPUP -->

    <!--START UNLINK APPLICATION POPUP -->
    <script type="text/ng-template" id="unlinkproduct.html">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Are you sure you want to un-link with the following Application?</h4>
            </div>
            <div class="modal-body">
                <table class="table table-light table_product_list">
                    <tbody>
                        <tr>
                            <td class="bold">
                                <img src="{{linked_product_image | replaceA }}" width="50" height="50" style="border-radius: 5px !important;">&nbsp; {{linked_product_name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer text-center">
                <button data-ng-click="confirm_unlink()" class="btn b bg-purple-theme font-white btn-md bold">Yes</button>
                <button data-ng-click="close_unlink()" class="btn btn-outline purple" aria-hidden="true">No</button>
            </div>
        </div>
    </script>
    <!--END UNLINK APPLICATION POPUP -->

    <!-- DELETE PRODUCT POPUP -->
    <div id="cancel_subscription" class="modal veazy_modal fade note_confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure you wish to DELETE "{{product_title}}"?</p>
                </div>
                <div class="modal-footer text-center">
                    <button data-dismiss="modal" class="btn b bg-purple-theme font-white btn-md bold" data-ng-click="cancelSubscriptionConfirm()">Yes</button>
                    <button class="btn btn-outline purple" data-dismiss="modal" aria-hidden="true">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- DELETE PRODUCT POPUP -->
    <div id="disable_application" class="modal veazy_modal fade note_confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <!--<p>Uh oh! In order to access this Application you must have a current active plan. Please click below choose the plan that is best for you!</p>-->
                    <p>Woops! Looks like your access to Veazy has expired! Please click below to purchase a new plan :)</p>
                </div>
                <div class="modal-footer text-center">
                    <button class="btn btn-outline purple" data-dismiss="modal" aria-hidden="true">No</button>
                    <!--<button data-dismiss="modal" class="btn b bg-purple-theme font-white btn-md bold" data-ng-click="upgradePlan()">Resubscribe</button> -->
                    <a href="https://veazy.salvomigration.com.au/" target="_blank" class="btn b bg-purple-theme font-white btn-md bold" >Resubscribe</a> 
                    <!-- <a data-ui-sref="app.plan" class="btn b bg-purple-theme font-white btn-md bold"><b style="font-family: Nunito; ">Upgrade Plan</b></a> -->
                </div>
            </div>
        </div>
    </div>
<script type="text/ng-template" id="videoModal.html">
        <div class="modal-header veazy_header" style="padding-right:0;">
            <i class="icon-close font-white pull-right fa-2x" style="cursor: pointer;" data-ng-click="closeVideo()"></i>
        </div>
        <div class="modal-body">
            <iframe id="modal-video" src='https://player.vimeo.com/video/391374643' style="width: 100%;height: 70vh;" class="veazy_video" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </script>
    <!-- DELETE PRODUCT POPUP -->

    <!--START ASSIGN DUEDATE POPUP -->
    <script type="text/ng-template" id="assignDueDate.html">
        <div class="modal-content">
            <div class="modal-body">
                <uib-datepicker data-ng-change="chooseDate()" data-ng-model="dateparam.duedate" datepicker-options="dateOptions"></uib-datepicker>
            </div>
            <div class="modal-footer">
                <button data-ng-click="updateDueDate()" class="btn btn-outline green-jungle bold">Save</button>
                <button data-ng-click="closeassignDueDate()" class="btn btn-outline purple bold" aria-hidden="true">Close</button>
            </div>
        </div>
    </script>
    <!--END ASSIGN DUEDATE POPUP -->
</div>
<!-- END MAIN CONTENT