
<div data-ng-controller="ForgotController">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a><img src="{{settings.layoutPath}}/img/veazy_logo.png" alt="" width="265" height="75"/></a>
    </div>
    <!-- END LOGO -->

    <body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo  page-sidebar-fixed vz_page_log_bg">
    <div class="vz_page_log_bg" style="width: 100% !important;">

    <div class="vz_page">
        <form class="forget-form" name="forgotform" novalidate>
            <div class="vz_side_pop1_bg1"></div>
            <div class="vz_side_pop1_bg2"></div>
            <div class="vz_side_pop1 vz_side_pop2">
                <div class="vz_side_pop1_p1">
                    <div class="borrig1"></div>
                    <div class="vz_side_pop1_p1_s1">
                        <h5>New user?</h5>
                        <p>Create a<span>Veazy</span>account</p>
                    </div>
                    <div class="vz_side_pop1_p1_s2">
                        <button data-ui-sref="register" class="vz_side_pop1_btn1">Create account</button>
                    </div>
                </div>
                <div class="vz_side_pop1_p2">
                    <div class="vz_side_pop1_p2_s1">
                        <span>x</span>
                    </div>
                    <div class="vz_side_pop1_p2_s2">
                        <h4>Forgot Password</h4>
                        <p>Oops, forgot your password? No Worries, fill in your email address and we'll send a reset
                            link right away.</p>
                    </div>
                    <div class="vz_side_pop1_p2_s3">
                        <label>Email Address</label>
                        <input class="form-control form-control-solid placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="email" data-ng-model="email" required/>
                        <span  data-ng-show="submitted && forgotform.email.$invalid">
                    <span class="text-danger" data-ng-show="forgotform.email.$error.required">Email address is required.</span>
                    <span class="text-danger" data-ng-show="forgotform.email.$error.email">Please enter valid email address.</span>
                </span>
                    </div>
                    <div class="vz_side_pop1_p2_s5">
                        <button data-ui-sref="login" class="vz_side_pop1_btn1">CANCEL</button>
                        <button class="vz_side_pop1_btn2" data-ng-click="submit(forgotform.$valid)" data-ng-disabled="disabled">Send</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    </div>
    </body>
    <div class="copyright"> 2018 © Veazy</div>
</div>
