
<div data-ng-controller="ResetPasswordController">    

    <body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo  page-sidebar-fixed vz_page_log_bg">
    <div class="vz_page_log_bg" style="width: 100% !important;">

        <div class="vz_page">
            <form class="login-form" name="resetpassform" novalidate>
                <div class="vz_side_pop1_bg1"></div>
                <div class="vz_side_pop1_bg2"></div>
                <div class="vz_side_pop1 vz_side_pop2 rp">
                    <div class="vz_side_pop1_p2">
                        <div class="vz_side_pop1_p2_s1">
                            <span>x</span>
                        </div>
                        <div class="vz_side_pop1_p2_s2">
                            <h4>{{ headerTxt }}</h4>
                        </div>
                        <div class="vz_side_pop1_p2_s3">
                            <label>Password</label>
                            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="New Password"
                                   name="password" data-ng-model="password" data-ng-model-options="{allowInvalid: true}" data-pattern-validator="((?=.*\d)(?=.*\W).{6,6})" required />
                            <!-- <password-strength ng-model="password"></password-strength> -->
                            <span class="text-danger ccl1dnr" style="margin-top: 30px;" data-ng-show="password && submitted && resetpassform.password.$error.passwordPattern">Password must be minimum length of 6 with special character,digit!</span>
                            <span class="text-danger ccl1dnr" data-ng-show="submitted && resetpassform.password.$invalid">
                    <span class="text-danger ccl1dnr" data-ng-show="resetpassform.password.$error.required">
                        Password is required
                    </span>
                </span>
                            <label>Repeat Password</label>
                            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm New Password" name="rpassword" data-ng-model="rpassword"  required/> <!-- data-valid-password-c="password" -->
                            <span class="text-danger ccl1dnr" data-ng-show="submitted && password && resetpassform.rpassword.$invalid">
                    <span class="text-danger ccl1dnr" data-ng-show="resetpassform.rpassword.$error.noMatch">Passwords do not match.</span>
                </span>
                        </div>
                        <div class="vz_side_pop1_p2_s5">
                            <button class="vz_side_pop1_btn2" data-ng-click="submit(resetpassform.$valid)" data-ng-disabled="disabled">{{ btnTxt }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    </body>
    <div class="copyright"> 2018 © Veazy</div>
</div>

