<!DOCTYPE html>

<html lang="en">

<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Veazy</title>
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="veazy" name="description"/>
    <meta content="Martin" name="author"/>
    <link rel="stylesheet" type="text/css" href="css/custom.css"/>
    <!--     <link rel="shortcut icon" href="favicon.ico" />  -->
</head>
<!-- END HEAD -->

<body>
<div class="thankyou_box">
    <a href="/demo/veazy_home"><img src="img/veazy_logo.png"/ width="280"></a>
    <h1>
        <div class="loading loading03"><span data-text="Thank you for registering.">Thank you for registering.</span></div>
    </h1>
    <p> Please check and verify your email in order start using Veazy!</p>
</div>
</body>

</html>
