<div class="hbox hbox-auto-xs hbox-auto-sm" data-ng-controller="faqCtrl"
     data-ng-if="is_main_user == 1 || faq_list_permission.main_menu_id == '12.2'">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{faq.title}}</h1>
                </div>
            </div>
        </div>

        <div class="wrapper-md ng-scope">
            <div class="panel panel-default table-responsive">
                <div class="col-md-12" style="margin-top: 20px;">
                    <button data-ng-show="is_main_user == 1 || faq_list_permission.add == 1"
                            ui-sref="app.addfaq" class="btn btn-addon m-b-xs btn-info"><i
                            class="fa fa-plus"></i> Add New
                    </button>
                    &nbsp;
                    <button data-ng-show="is_main_user == 1 || faq_list_permission.delete == 1"
                            class="btn btn-addon m-b-xs btn-danger" data-ng-click="removeAll();"><i
                            class="fa fa-trash-o"></i> Delete All
                    </button>
                    &nbsp;
                    <button data-ng-show="is_main_user == 1 || faq_list_permission.active == 1"
                            class="btn btn-addon m-b-xs btn-primary" data-ng-click="activeAll();"><i
                            class="fa fa-check"></i> Active All
                    </button>
                    &nbsp;
                    <button data-ng-show="is_main_user == 1 || faq_list_permission.inactive == 1"
                            class="btn btn-addon m-b-xs btn-yellow" data-ng-click="deactiveAll();"><i
                            class="icon-close"></i> Inactive All
                    </button>
                    &nbsp;
                    <button class="btn btn-addon m-b-xs  btn-success " ng-csv="getcsv()"
                            csv-header="['Title', 'Description','Created Date', 'Status']"
                            filename="Slider_List.csv"><i class="glyphicon glyphicon-save"></i> {{general.export}}
                    </button>
                    &nbsp;
                    <button data-ng-show="is_main_user == 1"
                            class="btn btn-addon m-b-xs btn-info" data-ng-click="duplicate();"><i
                            class="fa fa-copy"></i> Duplicate
                    </button>
                    &nbsp;
                    <button data-ng-show="is_main_user == 1"
                            class="btn btn-addon m-b-xs btn-danger" data-ng-click="addTag()"><i
                            class="fa fa-tasks"></i> Bulk
                    </button>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right top_search"
                         st-table="displayedCollection" st-safe-src="rowCollection">
                        <input class="form-control ng-isolate-scope" st-search=""
                               placeholder="Enter character to search..." type="text" data-ng-model="searchText"
                               style="width:90% !important;display: inline;"/>

                    </div>
                </div>

                <table st-table="displayedCollection" st-safe-src="rowCollection"
                       class="table table-striped" st-filtered-collection="rowCollection">
                    <thead>
                    <tr>
                        <th class="text-center">
                            <div class="checkbox"><label class="i-checks"><input type="checkbox" id="checkAll"/><i></i></label></div>
                        </th>
                        <th class="text-center text-nowrap text-uppercase">{{folder.name}}</th>
                        <th class="text-center text-nowrap text-uppercase">{{summary.title}}</th>
                        <th class="text-center text-nowrap text-uppercase">Priority</th>
                        <!--<th class="text-center text-nowrap text-uppercase">{{summary.description}}</th>-->
                        <th class="text-center text-nowrap text-uppercase">{{general.cdate}}</th>

                        <th class="text-uppercase" data-ng-show="is_main_user == 1 || (faq_list_permission.active==1 && faq_list_permission.inactive==1)">
                            {{general.status}}
                        </th>
                        <th class="text-center text-nowrap text-uppercase" data-ng-show="is_main_user == 1 || (faq_list_permission.update==1 || faq_list_permission.delete==1)"
                            st-sort="">{{general.action}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="row in displayedCollection">
                        <td class="text-center">
                            <div class="checkbox"><label class="i-checks">
                                <input type='checkbox'
                                       class="sliderstatus"
                                       id="slider{{row.iPkFAQId}}"
                                       name='checklist[]'
                                       data-ng-model="checklist"
                                       value="<?php echo $row['iPkFAQId']; ?>"><i></i></label>
                            </div>
                        </td>
                        <td class="text-center text-nowrap">{{row.vFolderName}}</td>
                        <td class="text-center text-nowrap">{{row.vFAQ}}</td>
                        <td class="text-center text-nowrap"><input type="text" placeholder={{row.iPriority}} ng-model="iPriority" style="width: 30%;" ng-blur="onBlur($event,row.iPkFAQId,iPriority)"/></td>
                        <!--<td class="text-center text-nowrap">{{row.vFAQAnswer}}</td>-->
                        <td class="text-center text-nowrap">{{row.dtFAQCreatedOn}}</td>
                        <td data-ng-show="is_main_user == 1 || (faq_list_permission.active == 1 && faq_list_permission.inactive == 1)  ">
                            <label class="i-switch m-t-xs m-r"
                                   ng-init="stay=row.eFAQStatus=='active' ? true : false">
                                <input type="checkbox" checked="true" ng-model="stay"
                                       ng-click="changestatus(row.iPkFAQId,row.eFAQStatus)">
                                <i></i>
                            </label>
                        </td>
                        <td class="text-center text-nowrap">
                            <button data-ng-show="is_main_user == 1 || faq_list_permission.update==1"
                                    class="btn m-b-xs btn-sm btn-info info"
                                    ui-sref="app.editfaq({fid:row.iPkFAQId})"><i class="fa fa-edit"></i> Edit
                            </button>
                            <button data-ng-show="is_main_user == 1 || faq_list_permission.delete==1"
                                    class="btn m-b-xs btn-sm btn-info btn-danger"
                                    ng-click="removeItem(row.iPkFAQId,row.vFAQ)"><i class="fa fa-trash-o"></i>
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="displayedCollection.length == 0">
                        <td colspan="10">
                            <div class="row"><span class="col-md-4 col-md-offset-5">{{general.norecord}}</span></div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="10" class="text-right">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7" class="no-margin"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
    <!-- / right col -->
</div>

<!-- ADD TAG -->
<script type="text/ng-template" id="addTag.html">
    <div class="modal-body">
        <b>Bulk Allocation</b>
        <div class="form-group" style="padding-top: 15px;">
            <select class="form-control" name="iPkFolderId" data-ng-model="iPkFolderId" id="iPkFolderId"
                            data-ng-options="option.iPkFolderId as option.vFolderName for option in getFolder">
                        <option value="">Select Folder</option>
            </select>
        </div>        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-ng-click="saveTagName(iPkFolderId)" data-ng-disabled="tag.family_member_name == ''">Add</button>
        <button class="btn btn-default" type="button" data-ng-click="cancelTagModal()">Cancel</button>
    </div>
</script>
<!-- ADD TAG END -->
