<div class="aside-wrap">
    <div class="navi-wrap">
        <!-- user -->
        <div class="clearfix hidden-xs text-center hide show" id="aside-user">
            <div class="dropdown wrapper" dropdown>
                <a href="javascript:void(0)">
                  <span class="thumb-lg w-auto-folded avatar m-t-sm">
                    <img src="img/a0.jpg" class="img-full" alt="profile picture">
                  </span>
                </a>
                <a href class="dropdown-toggle hidden-folded" dropdown-toggle>
                  <span class="clear" ng-if="lastlogin != 'null'">
                    <span class="block m-t-sm">
                      <strong class="font-bold text-lt">{{username}} ({{eRoleName}})</strong>
                    </span>
                      {{general.lastlogin}}</br>
                      <i class="glyphicon glyphicon-time"></i> {{lastlogin}} </br>
                  </span>
                  <span class="clear" ng-if="lastlogin == 'null'">
                    <span class="block m-t-sm">
                      <strong class="font-bold text-lt">{{general.wlcm}} {{username}}</strong>
                    </span>
                   <!--<strong class="font-bold text-lt">{{general.loginmsg}}</strong></br>-->
                  </span>
                </a>
            </div>
            <div class="line dk hidden-folded"></div>
        </div>
        <!-- / user -->
        <!-- nav -->
        <nav ui-nav class="navi clearfix" ng-include="'pages/blocks/nav.html'"></nav>
        <!-- nav -->
    </div>
</div>