<!-- BEGIN MAIN CONTENT -->
<div ng-controller="todolistController">
    <div data-ng-if="is_todolist" class="master_dashbaord">
        <div class="row">
            <div class="col-md-12">
                <div class="text-light marketplace_desc soc_desc bg-white"><i class="fa fa-exclamation-circle color_theme bg-white "></i>
                    <p>Use the Final to Do's below as suggestions of important checks you should perform <b>before</b> submitting your application.</p>
                </div>

                <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <!-- BEGIN TAB PORTLET-->
                    <div  class="portlet light shadow soc_portlet" data-ng-class="todo.satisfied == '1'?'satisfy_lesson':''" data-ng-repeat="(title,todo) in todolist  track by $index">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject ">{{title}}</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table soc_table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-center">Have You...?</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="td in todo.elements track by $index">
                                        <td style="width: 90%">{{td.vToDo}}</td>
                                        <td class="text-center">
                                            <button class="btn bg-purple-theme font-white bold" data-ng-click="updateToDoStatus(td.todoId)" data-ng-if="td.is_watched == '0'">Yes</button>
                                            <button class="btn btn-outline green-jungle bold" data-ng-click="updateToDoStatus(td.todoId)" data-ng-if="td.is_watched == '1'">Undo</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END TAB PORTLET-->
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->