<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="adminCtrl"
     data-ng-if="is_main_user !=0 || staff_dis_permission.main_menu_id =='2.1' ">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{admin.title}}</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md ng-scope">
            <div class="panel panel-default table-responsive">
                <div class="col-md-12" style="margin-top: 20px;">
                    <button data-ng-show="is_main_user == 1 || staff_dis_permission.add == 1" ui-sref="app.addadmin"
                            class="btn btn-addon m-b-xs btn-info"><i
                            class="fa fa-plus"></i> Add New
                    </button>
                    &nbsp;
                    <button data-ng-show="is_main_user == 1 || staff_dis_permission.delete == 1"
                            class="btn btn-addon m-b-xs btn-danger" data-ng-click="removeAll();"><i
                            class="fa fa-trash-o"></i> Delete All
                    </button>
                    &nbsp;
                    <button data-ng-show="is_main_user == 1 || staff_dis_permission.active == 1"
                            class="btn btn-addon m-b-xs btn-primary" data-ng-click="activeAll();"><i
                            class="fa fa-check"></i> Active All
                    </button>
                    &nbsp;
                    <button data-ng-show="is_main_user == 1 || staff_dis_permission.inactive == 1"
                            class="btn btn-addon m-b-xs btn-yellow" data-ng-click="deactiveAll();"><i
                            class="icon-close"></i> Inactive All
                    </button>
                    &nbsp;
                    <button class="btn btn-addon m-b-xs btn-success " data-ng-csv="getcsv()"
                            csv-header="['Role Name','First Name','Last Name','Email','Mobile Number','Status','Created Date']"
                            filename="stafflist.csv"><i class="glyphicon glyphicon-save"></i> {{general.export}}
                    </button>

                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right top_search"
                         st-table="displayedCollection" st-safe-src="rowCollection">
                        <input class="form-control ng-isolate-scope" st-search=""
                               placeholder="Enter character to search..." type="text" data-ng-model="searchText"
                               style="width:90% !important;display: inline;"/>
                    </div>
                </div>

                <table st-table="displayedCollection" st-safe-src="rowCollection"
                       class="table table-striped" st-filtered-collection="rowCollection">
                    <thead>
                    <tr>
                        <th class="text-center">
                            <div class="checkbox"><label class="i-checks"><input type="checkbox" id="checkAll"/> <i></i></label></div>
                        </th>
                        <th class="text-center text-nowrap text-uppercase" st-sort="vRolName">{{staff.srole}}</th>
                        <th class="text-center text-nowrap text-uppercase" st-sort="vFirstName">{{staff.sfullname}}</th>

                        <th class="text-center text-nowrap text-uppercase" st-sort="vEmail">{{staff.semail}}</th>
                        <th class="text-center text-nowrap text-uppercase" st-sort="dtCreatedDate">{{general.cdate}}</th>
                        <th class="text-uppercase" data-ng-show="is_main_user == 1 || (staff_dis_permission.active == 1 && staff_dis_permission.inactive == 1)  ">
                            {{general.status}}
                        </th>
                        <th class="text-center text-nowrap text-uppercase" data-ng-show="is_main_user == 1 || (staff_dis_permission.update == 1 || staff_dis_permission.delete == 1)">
                            {{general.action}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="row in displayedCollection">
                        <td class="text-center">
                            <div class="checkbox"><label class="i-checks">
                                <input type='checkbox'
                                       class="adminstatus"
                                       id="user{{row.iPkAdminId}}"
                                       data-ng-if="(userId != row.iPkAdminId || row.vRoleName != 'superadmin')"
                                       name='checklist[]'
                                       data-ng-model="checklist"><i></i></label>
                            </div>
                        </td>
                        <td class="text-center text-nowrap">{{row.vRoleName}}</td>
                        <td class="text-center text-nowrap">{{row.vAdminFirstName}} {{row.vAdminLastName}}</td>

                        <td class="text-center text-nowrap">{{row.vAdminEmail}}</td>
                        <td class="text-center text-nowrap">{{formatDate(row.dtAdminCreatedOn)}}</td>
                        <td data-ng-show="is_main_user == 1 || (staff_dis_permission.active == 1 && staff_dis_permission.inactive == 1)  ">
                            <label class="i-switch m-t-xs m-r" ng-init="stay=row.eAdminStatus=='active' ? true : false">
                                <input type="checkbox" checked="true" ng-model="stay" data-ng-if="userId != row.iPkAdminId"
                                       ng-click="changestatus(row.iPkAdminId,row.eAdminStatus)">
                                <i></i>
                            </label>
                        </td>
                        <td class="text-center text-nowrap">
                            <button data-ng-show="is_main_user == 1 || staff_dis_permission.update == 1"
                                    class="btn btn-addon m-b-xs btn-sm btn-info info"
                                    ui-sref="app.editadmin({adminid:row.iPkAdminId})"><i class="fa fa-edit"></i>
                                {{general.edit}}
                            </button>
                            <button data-ng-show="is_main_user == 1 || staff_dis_permission.delete == 1"
                                    data-ng-if="(userId != row.iPkAdminId || row.vRoleName != 'superadmin')" class="btn btn-addon m-b-xs btn-sm btn-info btn-danger"
                                    ng-click="removeItem(row.iPkAdminId,row.vAdminFirstName)"><i class="fa fa-trash-o"></i>
                                {{general.delete}}
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="displayedCollection.length == 0">
                        <td colspan="8">
                            <div class="row"><span class="col-md-4 col-md-offset-5">{{general.norecord}}</span></div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="10" class="text-right">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7" class="no-margin"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- / right col -->
</div>

