<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="changepasswordCtrl">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">{{admin.cpwd}}</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md ng-scope">

            <div class="panel panel-default">


                <div class="panel-body">
                    <form class="form-horizontal ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled ng-dirty ng-valid-parse"
                          name="changepasswordform" novalidate>

                        <div class="control-group" ng-class="{true: 'error'}[submitted && form.email.$invalid]">

                            <div class="line line-dashed b-b line-lg pull-in"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{admin.currentpass}}</label>

                                <div class="col-sm-5">
                                    <input type="password" class="form-control" name="currentpassword" id="currentpassword" data-ng-model="currentpassword"
                                           placeholder=" {{admin.currentpass}}"  required>
                                                <span data-ng-show="submitted && changepasswordform.currentpassword.$invalid">
                         <span class="text-danger" data-ng-show="changepasswordform.currentpassword.$error.required">{{admin.currentpassrequired}}</span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{admin.newpass}}</label>

                                <div class="col-sm-5">
                                    <input type="password" class="form-control" name="newpassword" id="newpassword" data-ng-model="newpassword"
                                           placeholder=" {{admin.newpass}}" ng-minlength="8" ng-pattern="/^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).*$/"   required >
                                                                   <span data-ng-show="submitted && changepasswordform.newpassword.$invalid">
                         <span class="text-danger" data-ng-show="changepasswordform.newpassword.$error.required">{{admin.newpassrequired}}</span>

</span>
                                                                    <span data-ng-show="changepasswordform.newpassword.$invalid">
                         <span class="text-danger" data-ng-show="changepasswordform.newpassword.$error.pattern">Password Should be Minimum length 8 , Upper & lower case , Special Char Alphanumeric and at least 1 Digit.</span>

</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{admin.renewpass}}</label>

                                <div class="col-sm-5">
                                    <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" data-ng-model="confirmpassword"
                                           placeholder="{{admin.renewpass}}"  required >
<!--
                                                                   <span data-ng-show="submitted && changepasswordform.confirmpassword.$invalid">
                         <span class="text-danger" data-ng-show="changepasswordform.confirmpassword.$error.required">Retype new  Password is Required</span>
-->
                                    <span class="text-danger" data-ng-show="submitted && changepasswordform.confirmpassword.$error.required">{{admin.retypepassrequired}}</span>
<!--<span  ng-show="(newpassword!=confirmpassword)" class="text-danger">{{admin.passmatch}}</span>-->
                                    <span  ng-show="(!changepasswordform.confirmpassword.$error.required && newpassword!=confirmpassword)" class="text-danger">{{admin.passmatch}}</span>

<p>
                               <!--                 <span data-ng-show="submitted && changepasswordform.confirmpassword.$invalid">
                         <span class="text-danger" data-ng-show="changepasswordform.confirmpassword.$error.pattern">Password Should be Minimum length 8 , Upper & lower case , Special Char Alphanumeric and at least 1 Digit.</span>

</span>-->

                                </div>
                            </div>
                            <!--data-ng-show="!vPassword"-->



                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-2">
                                    <button type="submit" class="btn btn-sm btn-info"
                                            id="save" ng-click="change_admin_form(changepasswordform.$valid)" data-ng-disabled=" newpassword!=confirmpassword"  >{{general.btnsave}}
                                    </button>
                                    <button type="submit" class="btn btn-sm btn-danger"  ui-sref="app.dashboard-v1">{{general.btncancel}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--
<script type="text/javascript">
    jQuery(function(){
        $("#save").click(function(){
            $(".error").hide();
            var hasError = false;
            var passwordVal = $("#newpassword").val();
            var checkVal = $("#confirmpassword").val();
            if (passwordVal == '') {

                hasError = true;
            } else if (checkVal == '') {
                $("#confirmpassword").after('<span class="error">Please re-enter your password.</span>');
                hasError = true;
            } else if (passwordVal != checkVal ) {
                $("#confirmpassword").after('<span class="error">Passwords do not match.</span>');
                hasError = true;
            }
            if(hasError == true) {return false;}
        });
    });


</script>
-->
