<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse my_sidebar index1_sidebar bordered shadow" style="height: 100% !important;">
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start">
                <a data-ui-sref="app.dashboard" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">{{lang_trans.menu.home}}</span>
                </a>
            </li>

            <li class="nav-item start" data-ng-class="{'active': $state.includes('product_app.home')}">
                <a data-ui-sref="product_app.home({vpid:user_productID})" class="nav-link nav-toggle">
                    <i class=" icon-screen-desktop"></i>
                    <span class="title">{{lang_trans.menu.product_dashboard}}</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item nav_step" data-ng-if="product.eAllowSummary == 'yes' || product.eAllowLession == 'yes'">
                <span>{{lang_trans.menu.product_sidebar_step1}}</span>
            </li>
            <li class="nav-item start" data-ng-class="{'active': $state.includes('product_app.lessons')}" data-ng-if="product.eAllowLession == 'yes'">
                <a data-ui-sref="product_app.lessons({vpid:user_productID})" class="nav-link nav-toggle">
                    <i class=" icon-graduation"></i>
                    <span class="title">{{lang_trans.menu.product_lesson}}</span>
                </a>
            </li>

            <li class="nav-item start" data-ng-class="{'active': $state.includes('product_app.soc')}" data-ng-if="product.eAllowSummary == 'yes'">
                <a data-ui-sref="product_app.soc({vpid:user_productID})" class="nav-link nav-toggle">
                    <i class="fa fa-file-text-o"></i>
                    <span class="title">{{lang_trans.menu.product_soc}}</span>
                </a>

            </li>

            <li class="nav-item nav_step" data-ng-if="product.eAllowDocumentChecklist == 'yes' ">
                <span>{{lang_trans.menu.product_sidebar_step2}}</span>
            </li>

            <li class="nav-item start" data-ng-class="{'active': $state.includes('product_app.document_checklist')}" data-ng-if="product.eAllowDocumentChecklist == 'yes' ">
                <a data-ui-sref="product_app.document_checklist({vpid:user_productID})" class="nav-link nav-toggle">
                    <i class=" icon-check"></i>
                    <span class="title">{{lang_trans.menu.product_dc}}</span>
                </a>
            </li>
            <li class="nav-item nav_step" data-ng-if="product.eAllowToDo == 'yes' || product.eAllowCoverLetter == 'yes' || product.eAllowFaq == 'yes'">
                <span>{{lang_trans.menu.product_sidebar_step3}}</span>
            </li>

            <li class="nav-item start" data-ng-class="{'active': $state.includes('product_app.todolist')}" data-ng-if="product.eAllowToDo == 'yes'">
                <a data-ui-sref="product_app.todolist({vpid:user_productID})" class="nav-link nav-toggle">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="title">{{lang_trans.menu.product_todo}}</span>
                </a>
            </li>

            <li class="nav-item start" data-ng-class="{'active': $state.includes('product_app.coverletter')}" data-ng-if="product.eAllowCoverLetter == 'yes'">
                <a data-ui-sref="product_app.coverletter({vpid:user_productID})" class="nav-link nav-toggle">
                    <i class="icon-notebook"></i>
                    <span class="title">{{lang_trans.menu.product_coverletter}}</span>
                </a>
            </li>

            <li class="nav-item start" data-ng-class="{'active': $state.includes('product_app.faq')}" data-ng-if="product.eAllowFaq == 'yes'">
                <a data-ui-sref="product_app.faq({vpid:user_productID})" class="nav-link nav-toggle">
                    <i class="icon-question"></i>
                    <span class="title">{{lang_trans.menu.product_faq}}</span>
                </a>
            </li>
            <hr>
            
            <li class="nav-item nav_step" data-ng-show="Pro_Features == 'yes' && product.Pro_Features == 'yes'">
                <span>{{lang_trans.menu.product_profeatures}}</span>
            </li>
            <li class="nav-item start" data-ng-if="Pro_Features == 'yes' && product.Pro_Features == 'yes'" data-ng-class="{'active': $state.includes('product_app.tasks')}">
                <a data-ui-sref="product_app.tasks({vpid:user_productID})" class="nav-link nav-toggle">
                    <i class="icon-check"></i>
                    <span class="title">{{lang_trans.menu.product_tasks}}</span>
                </a>
            </li>
            <li class="nav-item start" data-ng-if="Pro_Features == 'yes' && product.Pro_Features == 'yes' " data-ng-class="{'active': $state.includes('product_app.notes')}">
                <a data-ui-sref="product_app.notes({vpid:user_productID})" class="nav-link nav-toggle">
                    <i class="icon-note"></i>
                    <span class="title">{{lang_trans.menu.product_notes}}</span>
                </a>
            </li>
            
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->